<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import ContactCard from './ContactCard.svelte';
	import Counter from '$lib/Counter.svelte';
</script>

<svelte:head>
	<title>Home</title>
</svelte:head>

<section>
	<h1>
		<div class="welcome">
			<picture>
				<source srcset="svelte-welcome.webp" type="image/webp" />
				<img src="svelte-welcome.png" alt="Welcome" />
			</picture>
		</div>
</h1>
<ContactCard>
	<span slot="name">
		hkw
	</span>

	<span slot="address">
		nice<br>
		happy
	</span>
</ContactCard>
<ContactCard>
	<span slot="name">
		kitty
	</span>

	<span slot="address">
		luck<br>
		good
	</span>
</ContactCard>
	

	<Counter />
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
	}

	h1 {
		width: 100%;
	}

	.welcome {
		position: relative;
		width: 100%;
		height: 0;
		padding: 0 0 calc(100% * 495 / 2048) 0;
	}

	.welcome img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: block;
	}
</style>
